@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-left: 0;
    padding-left:0;
    
    margin-bottom: 60px;
  }
  .header{
    background-color: #438afe; 
    height: 60px;
    width:100%;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  
  body > .container {
    padding: 60px 15px 0;
  }

   button {
    width: 269px;
    height: 65px;
    border-radius: 5px;
    background-color: #65a0ff;

    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }

  .fontstyle {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }

  .footer_text {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #878d91;
    }
/* body {
    margin:0;
    padding:0; 
    font-family: "NotoSansKR", sans-serif !important;;
}

.header{
    background-color: #438afe; 
    height: 60px;
    width:100%;
    
}

.header_align{
    margin-left: 20%;
    margin-right: 20%;
    display:table;
    
}

.header_left{
    float: left;
    vertical-align: middle;
    display:table-cell;
    text-align:justify;
}

.header_right{
    float: right;

    vertical-align: middle;
    display:table-cell;
    text-align:justify;
    height: 60px;

    background-color: antiquewhite;
}


.header_span_text{
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;

    vertical-align:middle;
    display:table-cell;
    text-align:justify;
    
}

img.header_image_logo{
    margin-top: 10%;
    display: block;    
}


img.header_image_kakao{
  width: 120px;
  height: 34px;

} */
