<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SmartCoin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/landing.css">
    </head>
    <body>
        <div class="header">
            <div class="header_align" style="height: 100%;">
                <div class="header_left" >
                     <img src="images/landing/ic-smartcoin-logo.png"
                        srcset="images/landing/ic-smartcoin-logo@2x.png 2x,images/landing/ic-smartcoin-logo@3x.png 3x"
                        class="header_image_logo"
                    />
                </div>
                <div class="header_right" style="height:100%;"> 
                   
                </div>
            </div>
        </div>
    </body>
</html>