<!DOCTYPE html>
<html lang="en">

<head>
	<title>Smart Coin </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--===============================================================================================-->
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/list.css">
	<!--===============================================================================================-->
</head>

<body>
	<nav class="navbar sticky-top nav1" >
		<div class="container">
			<ul>
				<li>
					<a href="#"> <img src="images/ic-smartcoin-logo@2x.png" class="ic_smartcoin_logo" > </a>
				</li>
				<li >	
					<a href="#">매출조회</a>
				</li>
				<li>	
					<a href="#">사용내역</a>
				</li>
				<li>	
					<a href="#">장비관리</a>
				</li>
				<li>	
					<a href="#">발급현황</a>
				</li>
			</ul>
				<a href="#" class="nav_href_text">케이워시 청덕점</a>
				<button class="nav_button" >로그아웃</button>
		</div>
	</nav>

	<nav class="navbar sticky-top nav2 text-center" >
		<div class="container">
			<ul class="nav2_ul">
				<li class="nav2_li">	
					<a href="#" class="nav2_li_a">거래별 매출</a>
				</li>
				<li class="nav2_li">	
					<a href="#" class="nav2_li_a">일별 매출</a>
				</li>
				<li class="nav2_li">	
					<a href="#" class="nav2_li_a">월별 매출</a>
				</li>
			</ul>			

			<ul>
				<li class="nav2_ul_li_calendar">
					<img src="images/ic-calendar.png" class="nav2_ul_li_calendar_images"  srcset="images/ic-calendar@2x.png 2x, images/ic-calendar@3x.png 3x">
				</li>
				<li>
					<input type="text" class="nav2_ul_input" value="2020.01.01"/>
				</li>
				<li class="nav2_ul_li_calendar">
					<img src="images/ic-calendar.png" class="nav2_ul_li_calendar_images"  srcset="images/ic-calendar@2x.png 2x, images/ic-calendar@3x.png 3x">
				</li>
				<li>
					<input type="text" class="nav2_ul_input" value="2020.01.01"/>
				</li>
				<li>
					<button class="nav2_ul_li_button"> 조회 </button>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container div_body_container" >
		<div style="margin-top: 16px;">
			<span class="div_body_container_div_span" style="margin-left:40px;">총 건수</span>
			<span class="div_body_container_div_span" style="margin-left:148px;">총 매출</span>
			<span class="div_body_container_div_span" style="margin-left:202px;">현금 매출</span>
			<span class="div_body_container_div_span" style="margin-left:209px;" >카드 매출</span>
		</div>
		<div style="margin-top: 5px;">
			<span class="div_body_container_div_span2" style="margin-left:40px;">19 건</span>
			<span class="div_body_container_div_span2" style="margin-left:141px;">990,000 원</span>
			<span class="div_body_container_div_span2" style="margin-left:133px;">800,000 원 </span>
			<span class="div_body_container_div_span2" style="margin-left:149px;" >190,000 원</span>
		</div>
	</div>


	<div class="container body_container2" >
		<div class="body_container2_div1">
			<span class="body_container2_div_span" style="margin-left:40px;">NO</span>
			<span class="body_container2_div_span" style="margin-left:150px;">매출일시</span>
			<span class="body_container2_div_span" style="margin-left:150px;">구분</span>
			<span class="body_container2_div_span" style="margin-left:150px;">결제금액(추가포인트)</span>
			<span class="body_container2_div_span" style="margin-left:150px;">결제수단</span>
		</div>
		<div class="body_container2_div2">
			<span class="body_container2_div2_span" style="margin-left:40px;">합계</span>
			<span class="body_container2_div2_span" style="margin-left:148px;">2020.01.01.13:12 기준</span>
			<span class="body_container2_div2_span" style="margin-left:70px;">신규9+충전10</span>
			<span class="body_container2_div2_span" style="margin-left:97px;">990,000(99,000)</span>
			<span class="body_container2_div2_span" style="margin-left:175Px;">신4/현4/쿠1/관1</span>
		</div>
		<div class="body_container2_div3">
			<span class="body_container2_div3_span" style="margin-left:45px;">10</span>
			<span class="body_container2_div3_span" style="margin-left:148px;">2020.01.01.13:12 기준</span>
			<span class="body_container2_div3_span" style="margin-left:70px;">신규9+충전10</span>
			<span class="body_container2_div3_span" style="margin-left:97px;">990,000(99,000)</span>
			<span class="body_container2_div3_span" style="margin-left:175px; vertical-align: bottom;"><button class="body_container2_div3_span_button">신용카드</button></span>
		</div>
		<div class="body_container2_div3">
			<span class="body_container2_div3_span" style="margin-left:45px;">9</span>
			<span class="body_container2_div3_span" style="margin-left:155px;">2020.01.01.13:12 기준</span>
			<span class="body_container2_div3_span" style="margin-left:70px;">신규9+충전10</span>
			<span class="body_container2_div3_span" style="margin-left:97px;">990,000(99,000)</span>
			<span class="body_container2_div3_span" style="margin-left:175px; vertical-align: bottom;"><button class="body_container2_div3_span_button" style="background-color: #3bb3ff;">현금</button></span>
		</div>
		<div class="body_container2_div3">
			<span class="body_container2_div3_span" style="margin-left:45px;">8</span>
			<span class="body_container2_div3_span" style="margin-left:155px;">2020.01.01.13:12 기준</span>
			<span class="body_container2_div3_span" style="margin-left:70px;">신규9+충전10</span>
			<span class="body_container2_div3_span" style="margin-left:97px;">990,000(99,000)</span>
			<span class="body_container2_div3_span" style="margin-left:175px; vertical-align: bottom;"><button class="body_container2_div3_span_button" style="background-color: #3bb3ff;">현금</button></span>
		</div>
		<div class="body_container2_div3">
			<span class="body_container2_div3_span" style="margin-left:45px;">7</span>
			<span class="body_container2_div3_span" style="margin-left:155px;">2020.01.01.13:12 기준</span>
			<span class="body_container2_div3_span" style="margin-left:70px;">신규9+충전10</span>
			<span class="body_container2_div3_span" style="margin-left:97px;">990,000(99,000)</span>
			<span class="body_container2_div3_span" style="margin-left:175px; vertical-align: bottom;"><button class="body_container2_div3_span_button" style="background-color: #ffbb0d;">쿠폰</button></span>
		</div>
		<div class="body_container2_div3">
			<span class="body_container2_div3_span" style="margin-left:45px;">6</span>
			<span class="body_container2_div3_span" style="margin-left:155px;">2020.01.01.13:12 기준</span>
			<span class="body_container2_div3_span" style="margin-left:70px;">신규9+충전10</span>
			<span class="body_container2_div3_span" style="margin-left:97px;">990,000(99,000)</span>
			<span class="body_container2_div3_span" style="margin-left:175px; vertical-align: bottom;"><button class="body_container2_div3_span_button" style="background-color: #ffbb0d;">쿠폰</button></span>
		</div>
		<div class="body_container2_div3">
			<span class="body_container2_div3_span" style="margin-left:45px;">5</span>
			<span class="body_container2_div3_span" style="margin-left:155px;">2020.01.01.13:12 기준</span>
			<span class="body_container2_div3_span" style="margin-left:70px;">신규9+충전10</span>
			<span class="body_container2_div3_span" style="margin-left:97px;">990,000(99,000)</span>
			<span class="body_container2_div3_span" style="margin-left:175px; vertical-align: bottom;"><button class="body_container2_div3_span_button" style="background-color: #fc7777;">관리자</button></span>
		</div>
		<div class="body_container2_div3">
			<span class="body_container2_div3_span" style="margin-left:45px;">4</span>
			<span class="body_container2_div3_span" style="margin-left:155px;">2020.01.01.13:12 기준</span>
			<span class="body_container2_div3_span" style="margin-left:70px;">신규9+충전10</span>
			<span class="body_container2_div3_span" style="margin-left:97px;">990,000(99,000)</span>
			<span class="body_container2_div3_span" style="margin-left:175px; vertical-align: bottom;"><button class="body_container2_div3_span_button" style="background-color: #fc7777;">관리자</button></span>
		</div>
		<div class="body_container2_div3">
			<span class="body_container2_div3_span" style="margin-left:45px;">3</span>
			<span class="body_container2_div3_span" style="margin-left:155px;">2020.01.01.13:12 기준</span>
			<span class="body_container2_div3_span" style="margin-left:70px;">신규9+충전10</span>
			<span class="body_container2_div3_span" style="margin-left:97px;">990,000(99,000)</span>
			<span class="body_container2_div3_span" style="margin-left:175px; vertical-align: bottom;"><button class="body_container2_div3_span_button">신용카드</button></span>
		</div>
		<div class="body_container2_div3">
			<span class="body_container2_div3_span" style="margin-left:45px;">2</span>
			<span class="body_container2_div3_span" style="margin-left:155px;">2020.01.01.13:12 기준</span>
			<span class="body_container2_div3_span" style="margin-left:70px;">신규9+충전10</span>
			<span class="body_container2_div3_span" style="margin-left:97px;">990,000(99,000)</span>
			<span class="body_container2_div3_span" style="margin-left:175px; vertical-align: bottom;"><button class="body_container2_div3_span_button">신용카드</button></span>
		</div>
		<div class="body_container2_div3">
			<span class="body_container2_div3_span" style="margin-left:45px;">1</span>
			<span class="body_container2_div3_span" style="margin-left:155px;">2020.01.01.13:12 기준</span>
			<span class="body_container2_div3_span" style="margin-left:70px;">신규9+충전10</span>
			<span class="body_container2_div3_span" style="margin-left:97px;">990,000(99,000)</span>
			<span class="body_container2_div3_span" style="margin-left:175px; vertical-align: bottom;"><button class="body_container2_div3_span_button">신용카드</button></span>
		</div>
		<div class="body_container2_div2" style="text-align: center; margin-top:5px; vertical-align:middle;">
			<span>+더보기</span>
		</div>
	</div>


	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->

</body>

</html>