<!DOCTYPE html>
<html lang="en">

<head>
	<title>Smart Coin </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--===============================================================================================-->
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/list.css">
	<!--===============================================================================================-->
</head>

<body>
	<nav class="navbar sticky-top nav1 text-center" >
		<div class="container">
			<ul>
				<li>
					<a href="#"> <img src="images/ic-smartCoin/ic-smartcoin-logo@2x.png" class="ic_smartcoin_logo" > </a>
				</li>
				<li >	
					<a href="#">매출조회</a>
				</li>
				<li>	
					<a href="#">사용내역</a>
				</li>
				<li>	
					<a href="#">장비관리</a>
				</li>
				<li>	
					<a href="#">발급현황</a>
				</li>
			</ul>
				<a href="#" class="nav_href_text">케이워시 청덕점</a>
				<button class="nav_button">로그아웃</button>
		</div>
	</nav>

	<div class="container">
	</div>


	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->

</body>

</html>